[v-cloak] {
  visibility: hidden;
}

html {
  font-size: 16px;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  margin: 0;
  height: 100%;
}

.background-image {
  min-width: 100%;
  min-height: 100%;
  background-image: url("./background.webp");
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.6rem;
  
}

::-webkit-scrollbar-track {
  background-color: #3c5aa6;
}
 
::-webkit-scrollbar-thumb {
  background: #ffcb05; 
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7a008; 
}

/* @media (max-device-width: 480px) {
  html {
    font-size: 10px;
  }
} */

