[v-cloak] {
  visibility: hidden;
}

html {
  font-size: 16px;
  height: 100%;
  margin: 0;
  background: url("./background.webp") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--black);
  margin: 0;
}

/* .background-image {
  min-width: 100%;
  min-height: 100%;
  background-image: 
  background-size:  cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
} */

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.6rem;
  
}

::-webkit-scrollbar-track {
  background-color: #3c5aa6;
}
 
::-webkit-scrollbar-thumb {
  background: #ffcb05; 
  border-radius: 0.2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #c7a008; 
}

@media (max-device-width: 428px) {
  html {
    font-size: 14px;
  }
}

@media (max-device-width: 358px) {
  html {
    font-size: 12px;
  }
}

